.inv{
    font-family:"NeoSansArabic" !important;  
    direction:rtl;
    font-size:14px;
    padding:15px;
    .inv-top-header{
        display:flex;
        align-items:center;
        justify-content:center;
       // flex-direction:$PRow;
        border:5px solid $InvColor1;
        border-radius:10px;
        padding:15px;
        margin-bottom:10px;
        .inv-logo{
           display:block  !important;
           margin-left: auto;
           margin-bottom:15px;
        }
        .contact{
            p{
                font-size:18px;
                color:$InvColor3;
                text-align: center;
                font-weight: 900;
            }
            p:last-child{
                margin:0px;
            }
        }                   
    }
    .inv-body-container{
        //padding-left: 25px;
        .inv-sub-header{
            margin-bottom:10px;
            .sub-header-col{
                display:flex;
                align-items:center;
                justify-content:flex-start;
                flex-direction:row;
                flex-wrap: wrap;
                .data-item{
                    display:flex;
                    align-items:center;
                    justify-content:flex-start;
                  //  flex-direction:$PRow;
                    flex-wrap:wrap;
                    margin-bottom:5px;
                    label{
                        background:$InvColor1;
                        margin:0px;
                        margin-left:5px;
                        color: $ClearWhite;
                        padding: 5px 10px;
                        border-radius: 4px;
                        min-width: 115px;
                        text-align: right;
                    }
                    input{
                        background-color:$InvColor1L !important;
                        padding: 4px 10px !important;
                        color: $MainColor;
                        height:auto !important;
                        border:none;
                        font-weight:900;
                        text-align:right;
                    }
                    label:last-child{
                        background:none;
                        color: $InvColor1;
                        margin-right:5px;
                        font-weight:900;
                        min-width: unset;
                        text-align: left;
                    }
                }
                .success{
                    label{background:$InvColor2}
                    input{background-color:$InvColor2L !important;}
                    label:last-child{color:$InvColor2}
                }
            }   
            .sub-header-col:first-child{
                padding-right:0px;
                .data-item{padding:0px;}
            }
            .sub-header-col:last-child{
                padding-right:0px;
                .data-item{padding:0px;}
            }
        }
        .inv-body{
            table{
                border:none;
                thead{
                    tr{
                        th{
                            border:2px solid $InvColor3;
                            text-align: center;
                            vertical-align: middle;
                            padding:0px;
                            min-width: 100px;
                            span{
                                display:block;
                                width:100%;
                                color: $InvColor3;
                                font-weight:900;
                            }
                            span:last-child{
                                color: $InvColor2;
                            }
                        }
                        th[colspan="2"],th[colspan="3"]{
                            span{color: $InvColor3;}
                        }
                        th:first-child{min-width: 110px;}
                        .desc{min-width: 500px;}
                    }
                }
                tbody{
                    tr{
                        td{
                            text-align: center;
                            vertical-align: middle;
                            border:2px solid $InvColor1;
                            border-bottom:none;
                            border-top:none;
                        }
                    }
                    tr:last-child{
                        td{
                            border-bottom:2px solid $InvColor1;
                            border-top:2px solid $InvColor1;
                            background:$InvColor1L;
                            .table-footer{
                                padding-top:5px;
                                .table-footer-item{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    border:2px solid $InvColor1;
                                    border-radius:10px;
                                    padding:5px;
                                    text-align: center;
                                    vertical-align: middle;
                                    min-height: 55px;
                                    span{
                                        display:block;
                                        width:100%;
                                        color: $InvColor3;
                                        font-weight:900;
                                        font-size:14px;
                                    }
                                    span:last-child{
                                        color: $InvColor2;
                                    }
                                }
                            }
                        }
                        td:first-child,td:nth-child(2){
                            border:none;
                            border-top:2px solid $InvColor1;
                            background:none;
                            padding:0px;
                        }
                        td:nth-child(2){
                            .table-footer{
                                padding-top:5px;
                                display:flex;
                                justify-content:center;
                                align-items:center;
                                .table-footer-item{
                                    margin:0px 5px;
                                    padding: 0px 10px;
                                }
                                .table-footer-item:last-child{
                                    margin-right:0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .inv-footer{
            padding:0px 5px;
            .footer-item{
                display:flex;
                justify-content:flex-start;
                align-items:center;
                padding:5px 0px;
                border-bottom:2px solid $InvColor3;
                .item-title{
                    display:flex;
                    flex-direction:column;
                    justify-content:flex-start;
                    align-items:center;
                    text-align:right;
                    vertical-align:middle;
                    span{
                        display:block;
                        width:100%;
                        color: $InvColor3;
                        font-weight:900;
                    }
                    span:last-child{
                        color: $InvColor2;
                    }
                }
                .item-result{
                    margin:5px;
                    border:2px solid $InvColor3;
                    background:$InvColor1L;
                    height: 55px;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                }
            }
            .footer-item:last-child{
                border-bottom:none;
            }
        }
    }
    .inv-note{
        transform: rotate(-90deg);
        position: absolute;
        left: -130px;
        top: 400px;
        font-weight: 900;
        font-size: 18px;
        color: $InvColor3;
    }                                      
}
@media only screen and (max-width: 1200px){
    .inv-top-header{
        .inv-logo{
            margin-right: auto;
        }
    }
    .inv-sub-header{
        .sub-header-col{
            .data-item{
                padding:0px;
            }
        }
    }
}